footer {
  background-color: #3279a3;
  color: #f5a623;
  text-align: center;
  padding: 30px 0;
  font-size:larger;
}

footer p {
  margin: 0;
  padding: 10px;
}

footer a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}
